#container {
  position:fixed;
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background:rgba(0,0,0,0.3);
  #editor {
    width:600px;
    max-width:100%;
    height:600px;
    max-height:100%;
    padding:16px;
    background:white;
    border-radius: 8px;

    
  }
  .titleInput {
    display:block;
    width:100%;
    border:unset;
    background:inherit;
    font-size:20px;
  }
  .contentInput {
    display:block;
    resize:none;
  }
}