.breadcrumb {
  line-height:24px;
  height:24px;
  position: relative;
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    .item{
      display: inline-block;
    }
  }
  .separator,.item{
    color:black;
    text-decoration: none;
  }
  .item{
    font-size:16px;
  }
  .separator {
    margin-left:4px;
    margin-right:4px;
  }
  .separator>svg {
    height:8px;
  }
  .moreIcon>svg {
    height: 10px;
  }
  .moreIcon_formeasuring {
    visibility: hidden;
  }
  .hiddenMenu {
    position: absolute;
    display:inline-block;
    left: 0;
    top: 1.5em;
    max-width:100%;
    padding-top:8px;
    padding-bottom: 8px;
    background:#F5F5F5;
    border:1px solid #b9b9b9;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    .item {
      display:block;
      padding-left:8px;
      padding-right:16px;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover{
        background:#D3F1D0;
      }
    }
  }
}